@import "../../styles/variables";

.board {
  border: 10px solid $board-background-color;
  display: inline-block;
  box-shadow: 0 0 10px #000;
  border-radius: 10px;
  background-color: $board-background-color;
}

.row {
  display: flex;
}

.cell {
  background-color: #2e4f62;
  cursor: pointer;
  font-size: 10px;
  height: 45px;
  width: 45px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: $default-tile-color;
  border-radius: 10px;
  margin: 2px;
  border-top: $cell-border-top;
  border-left: $cell-border-left;

  &--double-letter {
    background: #3baaf1;
  }

  &--triple-letter {
    background: #4de860;
  }

  &--double-word {
    background: #e1474f;
  }

  &--triple-word {
    background: #f99933;
  }

  &--is-center {
    background: $highlight-color;
  }

  &--is-filled {
    background: $default-tile-color;
    color: $cell-background-color;
  }

  &--is-active {
    border: 3px solid $highlight-color;
  }

  &:hover {
    opacity: 0.9;
  }
}
