// Game Colors
$board-background-color: #6c921b;
$rack-background-color: $board-background-color;
$cell-color: #557215;

// Tile Colors
$default-tile-color: #F7EFD7;
$hover-tile-color: #ead595;
$active-tile-color: #ff9900;
$center-tile-color: yellow;
$double-letter-tile-color: linear-gradient(skyblue, cornflowerblue);
$triple-letter-tile-color: linear-gradient(dodgerblue, #1661ff);
$double-word-tile-color: linear-gradient(yellow, orange);
$triple-word-tile-color: linear-gradient(#ff8605, red);