.cell {
  background-color: #557215;
  border: 1px solid #6c921b;
  cursor: pointer;
  height: 30px;
  width: 30px;
  transition: all 0.25s ease-in-out;

  &--triple-word {
    background: red;
  }

  &--is-selected {
    box-shadow: 0 0 10px #222;
    transform: scale(1.25);
  }

  &:hover {
    opacity: 0.9;
  }
}
