.cell {
  background-color: #557215;
  border: 1px solid #6c921b;
  cursor: pointer;
  font-size: 10px;
  height: 45px;
  width: 45px;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;

  &--double-letter {
    background: linear-gradient(skyblue, cornflowerblue);
  }

  &--triple-letter {
    background: $triple-letter-tile-color;
  }

  &--double-word {
    background: linear-gradient(yellow, orange);
  }

  &--triple-word {
    background: linear-gradient(#ff8605, red);
  }

  &--is-center {
    background: yellow;
  }

  &:hover {
    opacity: 0.9;
  }
}
