@import "../styles/variables.scss";

.cell {
  background-color: $cell-color;
  border: 1px solid $board-background-color;
  cursor: pointer;
  font-size: 10px;
  height: 45px;
  width: 45px;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;

  &--double-letter {
    background: $double-letter-tile-color;
  }

  &--triple-letter {
    background: $triple-letter-tile-color;
  }

  &--double-word {
    background: $double-word-tile-color;
  }

  &--triple-word {
    background: $triple-word-tile-color;
  }

  &--is-center {
    background: $center-tile-color;
  }

  &--is-filled {
    background: $default-tile-color;
  }

  &:hover {
    opacity: 0.9;
  }
}
