@import "../styles/variables.scss";

.cell {
  background-color: #2e4f62;
  cursor: pointer;
  font-size: 10px;
  height: 45px;
  width: 45px;
  transition: all 0.25s ease-in-out;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1;
  color: $cell-text-color;
  border-radius: 10px;
  margin: 2px;
  border-top: 1px solid #426d86;
  border-left: 1px solid #376077;

  &--double-letter {
    background: #3baaf1;
  }

  &--triple-letter {
    background: #4de860;
  }

  &--double-word {
    background: #e1474f;
  }

  &--triple-word {
    background: #f99933;
  }

  &--is-center {
    background: $highlight-color;
  }

  &--is-filled {
    background: $default-tile-color;
    color:$default-tile-text-color;
  }

  &:hover {
    opacity: 0.9;
  }
}
