@import "../styles/variables.scss";

.rack {
  margin-top: 20px;
  text-align: left;
  justify-content: space-evenly;
  align-items: center;
  background-color: $cell-background-color;
  border-top: $cell-border-top;
  border-left: $cell-border-left;
  -webkit-box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 500px;
  height: 75px;
  display: none;
  position: fixed;
  bottom: 0;

  &--is-active {
    display: flex;
    opacity: 1;
  }
}

.playerTile {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: $default-tile-color;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}

.playerTile:hover {
  cursor: pointer;
  background-color: $highlight-color;
}

.selectedTile {
  background-color: #f99933;
}
