.rack {
  margin-top: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  background-color: #6c921b;
  padding: 20px;
  -webkit-box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 10px 25px -8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 460px;
}

.playerTile {
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: #F7EFD7;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.5);
}

.playerTile:hover {
  cursor: pointer;
  background-color: #ead595;
}

.selectedTile {
  background-color: #ff9900;
}
