.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 30px 0 100px 0;
  background: linear-gradient(45deg, #152a31, #1e6680);
  height: 100%;
}

.turn-notification {
  color: white;
  margin-bottom: 30px;
}
