.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0;
  background: linear-gradient(45deg, #152a31, #1e6680);
  height: 100vh;
}

.turn-notification {
  color: white;
  margin-bottom: 30px;
}
