$highlight-color: #fecb02;

// Board
$board-background-color: #173945;

// Cells
$cell-background-color: #2e4f62;
$cell-border-top: 1px solid #426d86;
$cell-border-left: 1px solid #376077;

// Tiles
$default-tile-color: #f7efd7;
$tiles-font-size: 15px;
